@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    rgb(237, 207, 15) 35%,
    rgb(255, 179, 0) 100%
  );
}
:where(.config-container, .quiz-container, .result-container) {
  display: none;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 10px #333533;
}

.config-container {
  display: block;
  width: min(500px, 95vw);
  padding: 20px;
  height: 470px;
  text-align: center;
}
.config-title {
  font-size: 2.3rem;
}
.option-title {
  margin: 25px 0 20px 0;
  font-size: 1.3rem;
}
.category-options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 25px;
}
.question-options {
  padding: 0 40px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px;
  margin-bottom: 30px;
}
.config-options button {
  color: #f8d700;
  background-color: white;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  border: 1px solid #ffd100;
}
.config-options button:hover {
  background-color: #ffee3244;
  color: #f8d700;
  cursor: pointer;
}
.start-quiz-btn,
.next-question-btn,
.try-again-btn {
  background-color: #ff9500;
  color: white;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  font-weight: 600;
}
.start-quiz-btn:hover,
.next-question-btn:hover,
.try-again-btn:hover {
  box-shadow: 1px 1px 4px #9a9a9a;
  cursor: pointer;
}
.next-question-btn {
  visibility: hidden;
}
.config-options button.selected {
  background-color: #ffee3244;
  color: #f8d700;
}
.quiz-container {
  width: 480px;
}
.quiz-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 25px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.09);
}
.quiz-question {
  font-size: 1.5rem;
  font-weight: 600;
}
.quiz-timer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  background-color: rgb(32, 32, 32);
  color: white;
  border-radius: 6px;
  width: 70px;
  padding: 7px 9px;
}
.quiz-content {
  padding: 20px 25px;
}
.quiz-options {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style: none;
  margin-top: 20px;
}
.answer-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background-color: #ffde0a1f;
  border-radius: 6px;
  border: 1px solid #ffd100;
  padding: 13px 16px;
}
.answer-option:hover {
  background-color: #ffd00051;
}
.quiz-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  border-top: 1px solid grey;
}
.answer-option.correct {
  background-color: rgba(0, 215, 0, 0.229);
  color: green;
  border: green;
}
.answer-option.incorrect {
  background-color: rgba(255, 1, 1, 0.236);
  color: rgb(183, 1, 1);
  border: rgb(158, 1, 1);
}
.result-container {
  width: 460px;
  text-align: center;
  padding: 40px;
}
.result-container i {
  font-size: 6rem;
}
.result-message {
  font-size: 1.2rem;
  margin: 15px 0 30px 0;
}
